[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = ssh://git@github.com:tpope/vim-fugitive.git
[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = ssh://git@github.com:mileszs/ack.vim.git
[submodule "vim/bundle/javascript"]
	path = vim/bundle/javascript
	url = ssh://git@github.com:pangloss/vim-javascript.git
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = ssh://git@github.com:msanders/snipmate.vim.git
[submodule "vim/bundle/textobj-user"]
	path = vim/bundle/textobj-user
	url = ssh://git@github.com:kana/vim-textobj-user.git
[submodule "vim/bundle/textobj-rubyblock"]
	path = vim/bundle/textobj-rubyblock
	url = ssh://git@github.com:nelstrom/vim-textobj-rubyblock.git
[submodule "vim/bundle/vspec"]
	path = vim/bundle/vspec
	url = ssh://git@github.com:kana/vim-vspec.git
[submodule "vim/bundle/textobj-indent"]
	path = vim/bundle/textobj-indent
	url = ssh://git@github.com:kana/vim-textobj-indent.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = ssh://git@github.com:scrooloose/nerdtree.git
